<!-- Container -->
<div class="container">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <!-- Projects -->
        <li>
            <a ui-sref="projects">
                <span class="glyphicon glyphicon-folder-open glyphicon-padding" aria-hidden="true"></span>
                <b> Projects </b>
            </a>
        </li>
        <!-- Project Name -->
        <li class="active"> {{ vm.project.name }} </li>
    </ol>
    <!--Line Break -->
    <br>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <!-- Overview -->
        <li role="presentation">
            <a ui-sref="overview">
                <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                <b> Overview </b>
            </a>
        </li>
        <!-- Budget -->
        <li role="presentation">
            <a ui-sref="budget">
                <span class="glyphicon glyphicon-list-alt glyphicon-padding" aria-hidden="true"></span>
                <b> Budget </b>
            </a>
        </li>
        <!-- Subcontractors -->
        <li role="presentation" class="active">
            <a ui-sref="subcontractors">
                <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                <b> Subcontractors </b>
            </a>
        </li>
        <!-- Funds -->
        <li role="presentation">
            <a ui-sref="funds">
                <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                <b> Funds & Loans </b>
            </a>
        </li>
        <!-- Expenditures -->
        <li role="presentation">
            <a ui-sref="expenditures">
                <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                <b> Expenditures </b>
            </a>
        </li>
    </ul>
    <!-- Error Alert -->
    <div ng-if="vm.getError">
        <!-- Line Break -->
        <br>
        <!-- Alert -->
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"> Error: </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"> &times; </span>
            </button> <b> Could not access your subcontractors list. Please refresh the page. </b>
        </div>
    </div>
    <!-- Page Header -->
    <div class="page-header">
        <h1> Subcontractors </h1>
    </div>
    <!-- Button - Add -->
    <button type="button" class="btn btn-success" title="Add Subcontractor"
            ng-click="addModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <b> Add </b>
    </button>
    <!-- Button - Delete -->
    <button id="delete-many-button1" type="button" class="btn btn-danger" title="Delete Selected"
            ng-class="{ 'disabled': !vm.selected }" ng-click="deleteManyModal()">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        <b> Delete </b>
    </button>
    <!-- Line Breaks -->
    <br>
    <br>
    <!-- Table -->
    <table st-table="collection" st-safe-src="vm.subcontractorList"
           class="table table-condensed table-bordered table-striped table-hover table-responsive">
        <!-- Table Header -->
        <thead>
            <tr>
                <th style="width: 5%"></th>
                <th st-sort="name" style="width: 28%" class="text-center">
                    <a href style="text-decoration: none; color: #fff;"> Name </a>
                </th>
                <th st-sort="company" style="width: 28%" class="text-center">
                    <a href style="text-decoration: none; color: #fff;"> Company </a>
                </th>
                <th st-sort="contact_info" style="width: 28%" class="text-center">
                    <a href style="text-decoration: none; color: #fff;"> Contact Info </a>
                </th>
                <th colspan="2" style="width: 10%" class="text-center">
                    Action
                </th>
            <tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            <!-- Subcontractors -->
            <tr ng-repeat="subcontractor in collection">
                <!-- Checkbox -->
                <td style="width: 5%">
                    <input type="checkbox" class="checkbox" ng-model="subcontractor.selected"
                           ng-click="clickedCheckbox(subcontractor)">
                </td>
                <!-- Name -->
                <td style="width: 28%">
                    <b> {{ subcontractor.name }} </b>
                </td>
                <!-- Company -->
                <td style="width: 28%" class="text-success">
                    <b> {{ subcontractor.company }} </b>
                </td>
                <td style="width: 28%">
                    {{ subcontractor.contact_number }}
                </td>
                <!-- Edit -->
                <td style="width: 5%" class="text-center">
                    <a href class="text-primary" title="Edit"
                       ng-click="updateModal(subcontractor)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
                <!-- Delete -->
                <td style="width: 5%" class="text-center">
                    <a href class="text-danger" title="Delete"
                       ng-click="deleteModal(subcontractor)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                   </a>
                </td>
            </tr>
            <!-- Empty -->
            <tr ng-if="vm.subcontractorList.length == 0" class="active">
                <td colspan="1"></td>
                <td colspan="6"> <b> You have not added any subcontractors yet. </b> </td>
            </tr>
        </tbody>
    </table>
    <!-- Line Breaks -->
    <br><br><br><br>
</div>

<!-- MODALS -->
<!-- Modal - Add -->
<div class="container">
    <div class="modal fade" id="add-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b> Add Subcontractor </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="addForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Error Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="addForm.$invalid && addForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems adding the subcontractor. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addForm.name.$dirty ||
                                                       addForm.$submitted) &&
                                                       addForm.name.$invalid,
                                         'has-feedback': (addForm.name.$dirty ||
                                                          addForm.$submitted) &&
                                                          addForm.name.$invalid }">
                            <label class="control-label" for="name"> Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Name"
                                   ng-model="vm.subcontractor.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addForm.name.$dirty ||
                                          addForm.$submitted) &&
                                          addForm.name.$invalid">
                            </span>
                            <div ng-messages="addForm.name.$error"
                                 ng-if="(addForm.name.$dirty ||
                                         addForm.$submitted) &&
                                         addForm.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Company Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addForm.company.$dirty ||
                                                       addForm.$submitted) &&
                                                       addForm.company.$invalid,
                                         'has-feedback': (addForm.company.$dirty ||
                                                          addForm.$submitted) &&
                                                          addForm.company.$invalid }">
                            <label class="control-label" for="company"> Company Name </label>
                            <input class="form-control"
                                   name="company"
                                   type="text"
                                   placeholder="Company Name"
                                   ng-model="vm.subcontractor.company"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addForm.company.$dirty ||
                                          addForm.$submitted) &&
                                          addForm.company.$invalid">
                            </span>
                            <div ng-messages="addForm.company.$error"
                                 ng-if="(addForm.company.$dirty ||
                                         addForm.$submitted) &&
                                         addForm.company.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Contact Number Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addForm.contactNumber.$dirty ||
                                                       addForm.$submitted) &&
                                                       addForm.contactNumber.$invalid,
                                         'has-feedback': (addForm.contactNumber.$dirty ||
                                                          addForm.$submitted) &&
                                                          addForm.contactNumber.$invalid }">
                            <label class="control-label" for="contactNumber"> Contact Number </label>
                            <input class="form-control"
                                   name="contactNumber"
                                   type="text"
                                   placeholder="Contact Number (Optional)"
                                   ng-model="vm.subcontractor.contactNumber"
                                   ng-maxlength=15>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addForm.contactNumber.$dirty ||
                                          addForm.$submitted) &&
                                          addForm.contactNumber.$invalid">
                            </span>
                            <div ng-messages="addForm.contactNumber.$error"
                                 ng-if="(addForm.contactNumber.$dirty ||
                                         addForm.$submitted) &&
                                         addForm.contactNumber.$invalid">
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 15 characters. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="add-button" type="submit" class="btn btn-success"
                                data-loading-text="Creating..."
                                ng-click="addForm.$valid && add()">
                            <b> Add </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Many -->
<div class="container">
    <div class="modal fade" id="delete-many-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Subcontractors </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Error Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="vm.deleteManyError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> Could not delete the subcontractors. Please try again. </b>
                    </div>
                    <!-- Message -->
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <!-- Delete Button -->
                    <button id="delete-many-button2" type="button" class="btn btn-danger"
                            data-loading-text="Deleting..."
                            ng-click="deleteMany()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete -->
<div class="container">
    <div class="modal fade" id="delete-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Subcontractor </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="vm.deleteError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> Could not delete the subcontractor. Please try again. </b>
                    </div>
                    <!-- Message -->
                    <p class="text-center">
                        Are you sure you would like to <b> delete </b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <!-- Cancel Button -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <!-- Delete Button -->
                    <button id="delete-button" type="button" class="btn btn-danger"
                            data-loading-text="Deleting..."
                            ng-click="delete()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Update -->
<div class="container">
    <div class="modal fade" id="update-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <!-- Title -->
                    <h4 class="modal-title">
                        <b> Edit Subcontractor </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="updateForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Error Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="updateForm.$invalid && updateForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating the subcontractor. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (updateForm.name.$dirty ||
                                                       updateForm.$submitted) &&
                                                       updateForm.name.$invalid,
                                         'has-feedback': (updateForm.name.$dirty ||
                                                          updateForm.$submitted) &&
                                                          updateForm.name.$invalid }">
                            <label class="control-label" for="name"> Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Name"
                                   ng-model="vm.updated.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(updateForm.name.$dirty ||
                                          updateForm.$submitted) &&
                                          updateForm.name.$invalid">
                            </span>
                            <div ng-messages="updateForm.name.$error"
                                 ng-if="(updateForm.name.$dirty ||
                                         updateForm.$submitted) &&
                                         updateForm.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Company Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (updateForm.company.$dirty ||
                                                       updateForm.$submitted) &&
                                                       updateForm.company.$invalid,
                                         'has-feedback': (updateForm.company.$dirty ||
                                                          updateForm.$submitted) &&
                                                          updateForm.company.$invalid }">
                            <label class="control-label" for="company"> Company Name </label>
                            <input class="form-control"
                                   name="company"
                                   type="text"
                                   placeholder="Company Name"
                                   ng-model="vm.updated.company"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(updateForm.company.$dirty ||
                                          updateForm.$submitted) &&
                                          updateForm.company.$invalid">
                            </span>
                            <div ng-messages="updateForm.company.$error"
                                 ng-if="(updateForm.company.$dirty ||
                                         updateForm.$submitted) &&
                                         updateForm.company.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Contact Number Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (updateForm.contactNumber.$dirty ||
                                                       updateForm.$submitted) &&
                                                       updateForm.contactNumber.$invalid,
                                         'has-feedback': (updateForm.contactNumber.$dirty ||
                                                          updateForm.$submitted) &&
                                                          updateForm.contactNumber.$invalid }">
                            <label class="control-label" for="contactNumber"> Contact Number </label>
                            <input class="form-control"
                                   name="contactNumber"
                                   type="text"
                                   placeholder="Contact Number"
                                   ng-model="vm.updated.contactNumber"
                                   ng-maxlength=15>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(updateForm.contactNumber.$dirty ||
                                          updateForm.$submitted) &&
                                          updateForm.contactNumber.$invalid">
                            </span>
                            <div ng-messages="updateForm.contactNumber.$error"
                                 ng-if="(updateForm.contactNumber.$dirty ||
                                         updateForm.$submitted) &&
                                         updateForm.contactNumber.$invalid">
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 15 characters. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="update-button" type="submit" class="btn btn-primary"
                                data-loading-text="Saving..."
                                ng-click="updateForm.$valid && update()">
                            <b> Save Changes </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
