<!-- Container -->
<div class="container">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <!-- Projects -->
        <li>
            <a ui-sref="projects">
                <span class="glyphicon glyphicon-folder-open glyphicon-padding" aria-hidden="true"></span>
                <b> Projects </b>
            </a>
        </li>
        <!-- Project Name -->
        <li class="active"> {{ vm.project.name }} </li>
    </ol>
    <!--Line Break -->
    <br>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <!-- Overview -->
        <li role="presentation">
            <a ui-sref="overview">
                <span class="glyphicon glyphicon-dashboard glyphicon-padding" aria-hidden="true"></span>
                <b> Overview </b>
            </a>
        </li>
        <!-- Budget -->
        <li role="presentation">
            <a ui-sref="budget">
                <span class="glyphicon glyphicon-usd glyphicon-padding" aria-hidden="true"></span>
                <b> Budget </b>
            </a>
        </li>
        <!-- Subcontractors -->
        <li role="presentation">
            <a ui-sref="subcontractors">
                <span class="glyphicon glyphicon-link glyphicon-padding" aria-hidden="true"></span>
                <b> Subcontractors </b>
            </a>
        </li>
        <!-- Funds -->
        <li role="presentation" class="active">
            <a ui-sref="funds">
                <span class="glyphicon glyphicon-piggy-bank glyphicon-padding" aria-hidden="true"></span>
                <b> Funds & Loans </b>
            </a>
        </li>
        <!-- Expenditures -->
        <li role="presentation">
            <a ui-sref="expenditures">
                <span class="glyphicon glyphicon-list glyphicon-padding" aria-hidden="true"></span>
                <b> Expenditures </b>
            </a>
        </li>
    </ul>
    <!-- Error Alert -->
    <div ng-if="vm.errorMsgGet">
        <!-- Line Break -->
        <br>
        <!-- Alert -->
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"> Error: </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"> &times; </span>
            </button> <b> Could not access your funds. Please refresh the page. </b>
        </div>
    </div>
    <!-- Page Header -->
    <div class="page-header">
        <h1> Your Funds & Loans </h1>
    </div>
    <!-- Button - Add Fund -->
    <button type="button" class="btn btn-success" title="Add Fund"
            ng-click="showAddFundModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <b> Add Fund or Loan </b>
    </button>
    <!-- Line Breaks -->
    <br><br>
    <!-- Panel - Empty Project -->
    <div ng-if="vm.fundList.length == 0" class="panel panel-primary">
        <div class="panel-heading"> <b> No Funds </b> </div>
        <div class="panel-body">
            <p> <b> Get started by adding your funds or loans. </b> </p>
        </div>
    </div>
    <!-- Panels -->
    <div ng-repeat="fund in vm.fundList">
        <!-- Panel -->
        <div class="panel panel-primary">
            <!-- Panel Heading -->
            <div class="panel-heading">
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-xs-6">
                        <!-- Panel Title -->
                        <h4 class="panel-title">
                            <!-- Fund Name -->
                            <b> {{ fund.name }} </b>
                        </h4>
                    </div>
                    <!-- Right Side -->
                    <div class="col-xs-6">
                        <div class="text-right">
                            <h4 class="panel-title">
                                <!-- Edit Fund -->
                                <a href title="Edit" ng-click="clickedFund(fund) && showEditFundModal()">
                                    <span class="glyphicon glyphicon-cog glyphicon-padding"
                                          aria-hidden="true"></span>
                                </a>
                                <!-- Delete Fund -->
                                <a href title="Delete" ng-click="clickedFund(fund) && showDeleteFundModal()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel Body -->
            <div class="panel-body">
                <!-- Title -->
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-xs-6">
                        <b> Spending </b>
                    </div>
                    <!-- Right Side -->
                    <div class="col-xs-6">
                        <p class="text-right">
                            <b> {{ fund.amount | currency }} </b>
                        </p>
                    </div>
                </div>
                <!-- Progress Bar -->
                <div class="progress progress-bar-padding">
                    <div class="progress-bar progress-bar-danger progress-bar-striped"
                         style="width: {{ fund.spent }}%;">
                        <span class="sr-only"> {{ fund.spent }}% Complete </span>
                    </div>
                    <div class="progress-bar progress-bar-success progress-bar-striped"
                         style="width: {{ fund.left }}%;">
                        <span class="sr-only"> {{ fund.left }}% Complete </span>
                    </div>
                </div>
                <!-- Amounts -->
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-xs-6">
                        <b> {{ fund.totalExpenditure | currency }} Spent </b>
                    </div>
                    <!-- Right Side -->
                    <div class="col-xs-6">
                        <p class="text-right">
                            <span ng-if="fund.amount > fund.totalExpenditure">
                                <b> {{ fund.amount - fund.totalExpenditure | currency }} Left </b>
                            </span>
                            <span ng-if="fund.amount < fund.totalExpenditure">
                                <b class="text-danger">
                                    {{ fund.totalExpenditure - fund.amount | currency }} Over
                                </b>
                            </span>
                        </p>
                    </div>
                </div>
                <!-- Loan Draws -->
                <div class="margin-around" ng-show="fund.loan">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-xs-6">
                            <b> Loan Draws </b>
                        </div>
                        <!-- Right Side -->
                        <div class="col-xs-6">
                            <p class="text-right">
                                <b> {{ fund.amount | currency }} </b>
                            </p>
                        </div>
                    </div>
                    <!-- Progress Bar -->
                    <div class="progress progress-bar-padding">
                        <div class="progress-bar progress-bar-warning progress-bar-striped"
                             style="width: {{ fund.drawReceived }}%;">
                            <span class="sr-only"> {{ fund.drawReceived }}% Complete </span>
                        </div>
                        <div class="progress-bar progress-bar-success progress-bar-striped"
                             style="width: {{ fund.drawLeft }}%;">
                            <span class="sr-only"> {{ fund.drawLeft }}% Complete </span>
                        </div>
                    </div>
                    <!-- Amounts -->
                    <div class="row">
                        <!-- Left Side -->
                        <div class="col-xs-6">
                            <b> {{ fund.totalDraw | currency }} Received </b>
                        </div>
                        <!-- Right Side -->
                        <div class="col-xs-6">
                            <p class="text-right">
                                <span ng-if="fund.amount > fund.totalDraw">
                                    <b> {{ fund.amount - fund.totalDraw | currency }} Left </b>
                                </span>
                                <span ng-if="fund.amount < fund.totalDraw">
                                    <b class="text-danger">
                                        {{ fund.totalDraw - fund.amount | currency }} Over
                                    </b>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- Line Break -->
                    <br>
                    <!-- Button - Add Draw -->
                    <button type="button" class="btn btn-success" title="Add Draw"
                            ng-click="clickedFund(fund) && showAddDrawModal()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <b> Add Draw </b>
                    </button>
                    <!-- Button - Delete Draws -->
                    <button type="button" class="btn btn-danger" title="Delete Selected"
                            ng-model="fund.selected" ng-class="{ 'disabled': !fund.selected }"
                            ng-click="clickedFund(fund) && showDeleteDrawsModal()">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        <b> Delete </b>
                    </button>
                    <!-- Line Breaks -->
                    <br>
                    <br>
                    <!-- Table -->
                    <table st-table="fund.draws"
                           class="table table-condensed table-bordered table-striped table-hover table-responsive">
                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th> <input type="checkbox" class="checkbox" ng-model="fund.checkboxAll"
                                            ng-click="clickedFund(fund) && clickedAllCheckbox()"> </th>
                                <th class="text-center"> Draw </th>
                                <th class="text-center"> Date </th>
                                <th class="text-center"> Amount </th>
                                <th class="text-center" style="width: 8%"></th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody>
                            <tr ng-repeat="draw in fund.draws">
                                <!-- Checkbox -->
                                <td><input type="checkbox" class="checkbox" ng-model="draw.selected"
                                           ng-click="clickedFund(fund) && clickedSingleCheckbox(draw)">
                                </td>
                                <!-- Draw Number -->
                                <td class="text-center" ng-model="draw.index">
                                    #{{ fund.draws.indexOf(draw) + 1 }}
                                </td>
                                <!-- Draw Date -->
                                <td class="text-center" ng-model="draw.date">
                                    {{ draw.date | date: 'MM/dd/yyyy' }}
                                </td>
                                <!-- Draw Amount -->
                                <td class="text-right" ng-model="draw.amount">
                                    {{ draw.amount | currency }}
                                </td>
                                <!-- Edit Draw -->
                                <td class="text-center">
                                    <a class="text-primary" href title="Edit"
                                       ng-click="clickedFund(fund) && clickedDraw(draw) && showEditDrawModal()">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- Totals -->
                        <tbody ng-if="fund.draws.length != 0">
                            <!-- Total Draw Amount -->
                            <tr class="active">
                                <td colspan="2"></td>
                                <td class="text-right">
                                    <b> Total Draw Amount </b>
                                </td>
                                <td class="text-right" ng-model="fund.totalDraw">
                                    <b> {{ fund.totalDraw | currency }} </b>
                                </td>
                                <td></td>
                            </tr>
                            <!-- Total Loan Amount -->
                            <tr class="active">
                                <td colspan="2"></td>
                                <td class="text-right">
                                    <b> Total Loan Amount </b>
                                </td>
                                <td class="text-right">
                                    <b> {{ fund.amount | currency }} </b>
                                </td>
                                <td></td>
                            </tr>
                            <!-- Amount Left -->
                            <tr class="active">
                                <td colspan="2"></td>
                                <td class="text-right">
                                    <b> Amount Left </b>
                                </td>
                                <td class="text-right">
                                    <b> {{ fund.amount - fund.totalDraw | currency }} </b>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                        <!-- Empty -->
                        <tbody ng-if="fund.draws.length == 0">
                            <tr>
                                <td></td>
                                <td colspan="4"> You have not made any draws yet. </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Line Breaks -->
    <br><br><br><br>
</div>

<!-- MODALS -->
<!-- Modal - Add Fund -->
<div class="container">
    <div class="modal fade" id="add-fund-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add a Fund or Loan </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="addFundForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="addFundForm.$invalid && addFundForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems creating your fund. </b>
                        </div>
                        <!-- Loan Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addFundForm.loan.$dirty ||
                                                       addFundForm.$submitted) &&
                                                       addFundForm.loan.$invalid,
                                         'has-feedback': (addFundForm.loan.$dirty ||
                                                          addFundForm.$submitted) &&
                                                          addFundForm.loan.$invalid }">
                            <label class="control-label" for="loan"> Is this a loan? </label>
                            <p class="text-warning"> <b> For out of pocket money or savings funds, select "No" </b> </p>
                            <select class="form-control"
                                    name="loan"
                                    ng-model="vm.fund.loan"
                                    ng-options="loan.value as loan.name for loan in vm.loanQuestion"
                                    required>
                                <option value="" disabled selected> Select your option </option>
                            </select>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addFundForm.loan.$dirty ||
                                          addFundForm.$submitted) &&
                                          addFundForm.loan.$invalid">
                            </span>
                            <div ng-messages="addFundForm.loan.$error"
                                 ng-if="(addFundForm.loan.$dirty ||
                                         addFundForm.$submitted) &&
                                         addFundForm.loan.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Fund Name Field -->
                        <div ng-if="vm.fund.loan == false" class="form-group"
                             ng-class="{ 'has-error': (addFundForm.name.$dirty ||
                                                       addFundForm.$submitted) &&
                                                       addFundForm.name.$invalid,
                                         'has-feedback': (addFundForm.name.$dirty ||
                                                          addFundForm.$submitted) &&
                                                          addFundForm.name.$invalid }">
                            <label class="control-label" for="name"> Fund Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Fund Name"
                                   ng-model="vm.fund.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addFundForm.name.$dirty ||
                                          addFundForm.$submitted) &&
                                          addFundForm.name.$invalid">
                            </span>
                            <div ng-messages="addFundForm.name.$error"
                                 ng-if="(addFundForm.name.$dirty ||
                                         addFundForm.$submitted) &&
                                         addFundForm.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Loan Name Field -->
                        <div ng-if="vm.fund.loan == true" class="form-group"
                             ng-class="{ 'has-error': (addFundForm.name.$dirty ||
                                                       addFundForm.$submitted) &&
                                                       addFundForm.name.$invalid,
                                         'has-feedback': (addFundForm.name.$dirty ||
                                                          addFundForm.$submitted) &&
                                                          addFundForm.name.$invalid }">
                            <label class="control-label" for="name"> Loan Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Loan Name"
                                   ng-model="vm.fund.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addFundForm.name.$dirty ||
                                          addFundForm.$submitted) &&
                                          addFundForm.name.$invalid">
                            </span>
                            <div ng-messages="addFundForm.name.$error"
                                 ng-if="(addFundForm.name.$dirty ||
                                         addFundForm.$submitted) &&
                                         addFundForm.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Amount Fund Field -->
                        <div ng-if="vm.fund.loan == false" class="form-group"
                             ng-class="{ 'has-error': (addFundForm.amount.$dirty ||
                                                       addFundForm.$submitted) &&
                                                       addFundForm.amount.$invalid,
                                         'has-feedback': (addFundForm.amount.$dirty ||
                                                          addFundForm.$submitted) &&
                                                          addFundForm.amount.$invalid }">
                            <label class="control-label" for="amount"> Total Amount of Fund </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="vm.fund.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addFundForm.amount.$dirty ||
                                          addFundForm.$submitted) &&
                                          addFundForm.amount.$invalid">
                            </span>
                            <div ng-messages="addFundForm.amount.$error"
                                 ng-if="(addFundForm.amount.$dirty ||
                                         addFundForm.$submitted) &&
                                         addFundForm.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                        <!-- Amount Loan Field -->
                        <div ng-if="vm.fund.loan == true" class="form-group"
                             ng-class="{ 'has-error': (addFundForm.amount.$dirty ||
                                                       addFundForm.$submitted) &&
                                                       addFundForm.amount.$invalid,
                                         'has-feedback': (addFundForm.amount.$dirty ||
                                                          addFundForm.$submitted) &&
                                                          addFundForm.amount.$invalid }">
                            <label class="control-label" for="amount"> Total Amount of Loan </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="vm.fund.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addFundForm.amount.$dirty ||
                                          addFundForm.$submitted) &&
                                          addFundForm.amount.$invalid">
                            </span>
                            <div ng-messages="addFundForm.amount.$error"
                                 ng-if="(addFundForm.amount.$dirty ||
                                         addFundForm.$submitted) &&
                                         addFundForm.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="add-fund-button" type="submit" class="btn btn-success"
                                data-loading-text="Creating..."
                                ng-click="addFundForm.$valid && addFund()">
                            <b> Add </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Fund -->
<div class="container">
    <div class="modal fade" id="delete-fund-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Fund </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="vm.errorMsgDelete">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> Could not delete your fund. </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b>delete</b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button id="delete-fund-button" type="button" class="btn btn-danger"
                            data-loading-text="Deleting..."
                            ng-click="deleteFund()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Fund -->
<div class="container">
    <div class="modal fade" id="edit-fund-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit Fund </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="editFundForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="editFundForm.$invalid && editFundForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your fund. </b>
                        </div>
                        <!-- Name Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (editFundForm.name.$dirty ||
                                                       editFundForm.$submitted) &&
                                                       editFundForm.name.$invalid,
                                         'has-feedback': (editFundForm.name.$dirty ||
                                                          editFundForm.$submitted) &&
                                                          editFundForm.name.$invalid }">
                            <label class="control-label" for="name"> Fund Name </label>
                            <input class="form-control"
                                   name="name"
                                   type="text"
                                   placeholder="Fund Name"
                                   ng-model="vm.updatedFund.name"
                                   required
                                   ng-maxlength=50>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(editFundForm.name.$dirty ||
                                          editFundForm.$submitted) &&
                                          editFundForm.name.$invalid">
                            </span>
                            <div ng-messages="editFundForm.name.$error"
                                 ng-if="(editFundForm.name.$dirty ||
                                         editFundForm.$submitted) &&
                                         editFundForm.name.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 50 characters. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (editFundForm.amount.$dirty ||
                                                       editFundForm.$submitted) &&
                                                       editFundForm.amount.$invalid,
                                         'has-feedback': (editFundForm.amount.$dirty ||
                                                          editFundForm.$submitted) &&
                                                          editFundForm.amount.$invalid }">
                            <label class="control-label" for="amount"> Total Amount of Fund </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="vm.updatedFund.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(editFundForm.amount.$dirty ||
                                          editFundForm.$submitted) &&
                                          editFundForm.amount.$invalid">
                            </span>
                            <div ng-messages="editFundForm.amount.$error"
                                 ng-if="(editFundForm.amount.$dirty ||
                                         editFundForm.$submitted) &&
                                         editFundForm.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="update-fund-button" type="submit" class="btn btn-primary"
                                data-loading-text="Saving..."
                                ng-click="editFundForm.$valid && updateFund()">
                            <b> Save Changes </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Add Draw -->
<div class="container">
    <div class="modal fade" id="add-draw-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Add Draw </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="addDrawForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="addDrawForm.$invalid && addDrawForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems creating your loan draw. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addDrawForm.date.$dirty ||
                                                       addDrawForm.$submitted) &&
                                                       addDrawForm.date.$invalid,
                                         'has-feedback': (addDrawForm.date.$dirty ||
                                                          addDrawForm.$submitted) &&
                                                          addDrawForm.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Draw
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="vm.draw.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addDrawForm.date.$dirty ||
                                          addDrawForm.$submitted) &&
                                          addDrawForm.date.$invalid">
                            </span>
                            <div ng-messages="addDrawForm.date.$error"
                                 ng-if="(addDrawForm.date.$dirty ||
                                         addDrawForm.$submitted) &&
                                         addDrawForm.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (addDrawForm.amount.$dirty ||
                                                       addDrawForm.$submitted) &&
                                                       addDrawForm.amount.$invalid,
                                         'has-feedback': (addDrawForm.amount.$dirty ||
                                                          addDrawForm.$submitted) &&
                                                          addDrawForm.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="vm.draw.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(addDrawForm.amount.$dirty ||
                                          addDrawForm.$submitted) &&
                                          addDrawForm.amount.$invalid">
                            </span>
                            <div ng-messages="addDrawForm.amount.$error"
                                 ng-if="(addDrawForm.amount.$dirty ||
                                         addDrawForm.$submitted) &&
                                         addDrawForm.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="add-draw-button" type="submit" class="btn btn-success"
                                data-loading-text="Creating..."
                                ng-click="addDrawForm.$valid && addDraw()">
                            <b> Add Draw </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Delete Draws -->
<div class="container">
    <div class="modal fade" id="delete-draws-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b class="text-danger"> Delete Draw </b>
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"
                         ng-if="vm.errorMsgDeleteDraws">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only"> Error: </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button> <b> Could not delete draw. Please refresh your page. </b>
                    </div>
                    <p class="text-center">
                        Are you sure you would like to <b>delete</b>?
                    </p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <b> No </b>
                    </button>
                    <button id="delete-draw-button" type="button" class="btn btn-danger"
                            data-loading-text="Deleting..."
                            ng-click="deleteDraws()">
                        <b> Yes, Delete </b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Draw -->
<div class="container">
    <div class="modal fade" id="edit-draw-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                    <h4 class="modal-title">
                        <b> Edit Draw </b>
                    </h4>
                </div>
                <!-- Form -->
                <form name="editDrawForm" novalidate>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Alert -->
                        <div class="alert alert-danger alert-dismissible text-center" role="alert"
                             ng-if="editDrawForm.$invalid && editDrawForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only"> Error: </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button> <b> There were problems updating your loan draw. </b>
                        </div>
                        <!-- Date Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (editDrawForm.date.$dirty ||
                                                       editDrawForm.$submitted) &&
                                                       editDrawForm.date.$invalid,
                                         'has-feedback': (editDrawForm.date.$dirty ||
                                                          editDrawForm.$submitted) &&
                                                          editDrawForm.date.$invalid }">
                            <label class="control-label" for="date">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                Date of Draw
                            </label>
                            <input class="form-control"
                                   name="date"
                                   type="date"
                                   placeholder="Date"
                                   ng-model="vm.updatedDraw.date"
                                   required>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(editDrawForm.date.$dirty ||
                                          editDrawForm.$submitted) &&
                                          editDrawForm.date.$invalid">
                            </span>
                            <div ng-messages="editDrawForm.date.$error"
                                 ng-if="(editDrawForm.date.$dirty ||
                                         editDrawForm.$submitted) &&
                                         editDrawForm.date.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                            </div>
                        </div>
                        <!-- Amount Field -->
                        <div class="form-group"
                             ng-class="{ 'has-error': (editDrawForm.amount.$dirty ||
                                                       editDrawForm.$submitted) &&
                                                       editDrawForm.amount.$invalid,
                                         'has-feedback': (editDrawForm.amount.$dirty ||
                                                          editDrawForm.$submitted) &&
                                                          editDrawForm.amount.$invalid }">
                            <label class="control-label" for="amount"> Amount </label>
                            <div class="input-group">
                                <span class="input-group-addon"> $ </span>
                                <input class="form-control"
                                       name="amount"
                                       type="text"
                                       placeholder="Amount"
                                       ng-model="vm.updatedDraw.amount"
                                       required
                                       ng-maxlength=12
                                       format="number">
                            </div>
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  ng-if="(editDrawForm.amount.$dirty ||
                                          editDrawForm.$submitted) &&
                                          editDrawForm.amount.$invalid">
                            </span>
                            <div ng-messages="editDrawForm.amount.$error"
                                 ng-if="(editDrawForm.amount.$dirty ||
                                         editDrawForm.$submitted) &&
                                         editDrawForm.amount.$invalid">
                                <div ng-message="required"
                                     class="help-block"> This field is required. </div>
                                <div ng-message="maxlength"
                                     class="help-block"> This field cannot be longer than 12 digits. </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <b> Close </b>
                        </button>
                        <!-- Submit -->
                        <button id="edit-draw-button" type="submit" class="btn btn-primary"
                                data-loading-text="Saving..."
                                ng-click="editDrawForm.$valid && updateDraw()">
                            <b> Save Changes </b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
